##### In this Jupyter Note Book we will read Files which are converted in 0_Reduced_indels from Original Intervar file

### Merging Case Control SNP Files

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
case = ['1119','910','873','1489','989','880','1282','1584','875','1009','MWB_110',
        'MWB_161','MWB_174','MWB_242','MWB_276','MWB_437','MWB_490','MWB_506',
        'MWB_540','MWB_548','MWB_564','MWB_626','MWB_719','MWB_740','MWB_746',
        'MWB_815','MWB_870','MWB_1226','MWB_1276',
        'MWB_1445']


control = ['1093','1134','1293','1316','1389','1428','1477','1481','1557','1591','MWB_895','MWB_911',
           'MWB_941','MWB_956','MWB_961',"MWB_1008",'MWB_1040','MWB_1151','MWB_1244',
           'MWB_1250','MWB_1443','MWB_1676','MWB_1960','MWB_1964','MWB_1975',
           'MWB_1977','MWB_1982','MWB_1995','MWB_2007','MWB_2008']

print(len(case))
print(len(control))

30
30

In [4]:
def split(x):
    "This Function will return only Front 1 or 2 word"
    splitted = x.rsplit()
    if splitted[0] in ["Pathogenic", "Benign"]:
        return splitted[:1][0]
    else:
        return "_".join(splitted[:2])

##### This will save the File, _indels.csv and _snv.csv

In [9]:
for _ in control:
    # If file exist will skip
    condition = os.path.exists(_+"/"+_+"_indels.csv")
    if not condition:
        print("Doing", _)
        df = pd.read_csv(_+"/"+_+"_snv.csv", low_memory = False)
        df["InterVar"] = df.InterVar.apply(lambda x : split(x))
        df.to_csv(_+"/"+_+"_snv.csv", index = False)
    
        df = pd.read_csv(_+"/"+_+"_indels.csv", low_memory = False)
        df["InterVar"] = df.InterVar.apply(lambda x : split(x))
        df.to_csv(_+"/"+_+"_indels.csv", index = False)
        del(df)
    else:
        print("Skipping", _, end= "-->")

Skipping 1093-->Skipping 1134-->Skipping 1293-->Skipping 1316-->Skipping 1389-->Skipping 1428-->Skipping 1477-->Skipping 1481-->Skipping 1557-->Skipping 1591-->Skipping MWB_895-->Skipping MWB_911-->Skipping MWB_941-->Skipping MWB_956-->Skipping MWB_961-->Skipping MWB_1008-->Skipping MWB_1040-->Skipping MWB_1151-->Skipping MWB_1244-->Skipping MWB_1250-->Skipping MWB_1443-->Skipping MWB_1676-->Skipping MWB_1960-->Skipping MWB_1964-->Skipping MWB_1975-->Skipping MWB_1977-->Skipping MWB_1982-->Skipping MWB_1995-->Skipping MWB_2007-->Skipping MWB_2008-->

In [10]:
# Same Process For case

for _ in case:
    # If file exist will skip
    condition = os.path.exists(_+"/"+_+"_indels.csv")
    if not condition:
        print("Doing", _)
        df = pd.read_csv(_+"/"+_+"_snv.csv", low_memory = False)
        df["InterVar"] = df.InterVar.apply(lambda x : split(x))
        df.to_csv(_+"/"+_+"_snv.csv", index = False)
    
        df = pd.read_csv(_+"/"+_+"_indels.csv", low_memory = False)
        df["InterVar"] = df.InterVar.apply(lambda x : split(x))
        df.to_csv(_+"/"+_+"_indels.csv", index = False)
        del(df)
    else:
        print("Skipping", _, end= "-->")

Skipping 1119-->Skipping 910-->Skipping 873-->Skipping 1489-->Skipping 989-->Skipping 880-->Skipping 1282-->Skipping 1584-->Skipping 875-->Skipping 1009-->Skipping MWB_110-->Skipping MWB_161-->Skipping MWB_174-->Skipping MWB_242-->Skipping MWB_276-->Skipping MWB_437-->Skipping MWB_490-->Skipping MWB_506-->Skipping MWB_540-->Skipping MWB_548-->Skipping MWB_564-->Skipping MWB_626-->Skipping MWB_719-->Skipping MWB_740-->Skipping MWB_746-->Skipping MWB_815-->Skipping MWB_870-->Skipping MWB_1226-->Skipping MWB_1276-->Skipping MWB_1445-->

In [6]:
#case_merged = None
#open_cols = ["Chr", 'Start', 'Ref',"Alt"]
#merged_cols = ["Chr", 'Start', 'Ref',"Alt","SNP"]
#case_merged = pd.read_csv("1119/1119_snv.csv", low_memory= False,usecols=open_cols, dtype="object")
#case_merged.drop_duplicates(subset = ["Start","Alt"], keep = False, inplace = True)
#case_merged["SNP"] = 1
#case_merged.head()

### Read all Files and Merged as a single File

In [8]:
for _ in case:
    if _ == "1119":
        print("Done in the begining")
        continue
    # If file exist will skip
    condition = os.path.exists(_+"/"+_+"_indels.csv")
    
    if not condition:    
        print("DOinfg",_)
        df = pd.read_csv(_+"/"+_+"_snv.csv", usecols = open_cols, low_memory=False, dtype="object")
        df.drop_duplicates(subset = "Start", keep = False, inplace = True)
    
        df["SNP_"] = 1
        case_merged = pd.merge(case_merged, df, on= open_cols, how = "outer")
        case_merged.fillna(0, inplace = True)
    
        case_merged["SNP"] = case_merged.SNP + case_merged.SNP_
        #case_merged.drop_duplicates(subset = "Start", keep = False, inplace = True)
        case_merged.drop(["SNP_"], axis = 1, inplace=True)
        del df
    else:
        print("Skipping", _)

Done in the begining
Skipping 910
Skipping 873
Skipping 1489
Skipping 989
Skipping 880
Skipping 1282
Skipping 1584
Skipping 875
Skipping 1009
Skipping MWB_110
Skipping MWB_161
Skipping MWB_174
Skipping MWB_242
Skipping MWB_276
Skipping MWB_437
Skipping MWB_490
Skipping MWB_506
Skipping MWB_540
Skipping MWB_548
Skipping MWB_564
Skipping MWB_626
Skipping MWB_719
Skipping MWB_740
Skipping MWB_746
Skipping MWB_815
Skipping MWB_870
Skipping MWB_1226
Skipping MWB_1276
Skipping MWB_1445

In [ ]:
case_merged.shape

In [ ]:
#case_merged

In [ ]:
case_merged.drop_duplicates(subset = ["Start","Alt"], keep = False, inplace = True)

In [13]:
#case_merged.to_csv("30_case_mearged_snv.csv", index=False)

In [18]:
#case_merged[case_merged.SNP >29]

merged_cols = ["Chr", 'Start', 'Ref',"Alt","SNP_Case"]
case_merged.columns = merged_cols

merged_cols = ["Chr", 'Start', 'Ref',"Alt","SNP_Control"]
control_merged.columns = merged_cols

### Since File already Saved so lets Open and test

In [11]:
import pandas as pd
# Load 30_control_merged and merge 2 File as a single File
control_merged = pd.read_csv("30_control_mearged_snv.csv")
case_merged = pd.read_csv("30_case_mearged_snv.csv")

C:\Users\krish\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
case_merged.dtypes

Chr       object
Start      int64
Ref       object
Alt       object
SNP      float64
dtype: object

In [13]:
control_merged.dtypes

Chr       object
Start      int64
Ref       object
Alt       object
SNP      float64
dtype: object

In [15]:
control_merged.head()

  Chr  Start Ref Alt   SNP
0   1  14907   A   G  18.0
1   1  14930   A   G  18.0
2   1  15211   T   G  24.0
3   1  15274   A   G  26.0
4   1  15274   A   T  24.0

In [16]:
merged_cols = ["Chr", 'Start', 'Ref',"Alt","SNP_Control"]
control_merged.columns = merged_cols
control_merged.head()
#case_merged.head()

  Chr  Start Ref Alt  SNP_Control
0   1  14907   A   G         18.0
1   1  14930   A   G         18.0
2   1  15211   T   G         24.0
3   1  15274   A   G         26.0
4   1  15274   A   T         24.0

In [17]:
merged_cols = ["Chr", 'Start', 'Ref',"Alt","SNP_Case"]
case_merged.columns = merged_cols
case_merged

        Chr      Start Ref Alt  SNP_Case
0         1      14907   A   G      13.0
1         1      14930   A   G      17.0
2         1      15118   A   G      15.0
3         1      15211   T   G      25.0
4         1      15274   A   G       5.0
...      ..        ...  ..  ..       ...
4391656   X  154762862   C   T       1.0
4391657   X  154764201   T   G       1.0
4391658   X  154851612   C   A       1.0
4391659   Y    5308865   G   A       1.0
4391660   Y    5458247   G   A       1.0

[4391661 rows x 5 columns]

In [24]:
#control_merged.Start = control_merged.Start.astype(object)

In [18]:
open_cols = ["Chr", 'Start', 'Ref',"Alt"]
_merged = pd.merge(case_merged, control_merged, on= open_cols, how = "outer" )

In [19]:
## Mistakely there are  "-"  in ALT column so lets drop these

_merged.drop(_merged[_merged.Alt == "-"].index, axis = 0, inplace = True)

In [20]:
#_merged.fillna(0, inplace= True)
_merged.head()

  Chr  Start Ref Alt  SNP_Case  SNP_Control
0   1  14907   A   G      13.0         18.0
1   1  14930   A   G      17.0         18.0
2   1  15118   A   G      15.0          NaN
3   1  15211   T   G      25.0         24.0
4   1  15274   A   G       5.0         26.0

In [21]:
#_merged.to_csv("case_control_merged_Intervar.csv", index = False)

In [24]:
_merged[(_merged.SNP_Case >23) & (_merged.SNP_Control <=12)]

        Chr      Start Ref Alt  SNP_Case  SNP_Control
125810    1  246412158   T   C      24.0         12.0
143688    2   33016361   G   C      24.0         12.0
143689    2   33016474   G   C      24.0         12.0
143691    2   33016812   T   C      24.0         12.0
320055    3  128887527   A   G      24.0         12.0
329876    3  149288035   G   A      24.0         12.0
377525    4   38524051   A   G      24.0         12.0
384065    4   54260937   C   A      24.0         12.0
384104    4   54305404   A   G      24.0         12.0
384124    4   54321613   G   A      24.0         12.0
414195    4  115532601   T   C      24.0         11.0
489957    5   98119864   A   G      24.0         12.0
489958    5   98125530   T   G      25.0         12.0
632729    7   13982060   A   G      25.0         12.0
950753   11   17902999   C   G      24.0         12.0
950754   11   17904634   A   G      24.0         12.0
950755   11   17905278   C   G      24.0         12.0
950756   11   17905323   A   G      24.0         12.0
950759   11   17906294   T   A      24.0         12.0
950770   11   17912080   G   C      24.0         12.0
950771   11   17912156   T   C      24.0         12.0
950774   11   17917897   G   A      24.0         12.0
950779   11   17923860   T   G      24.0         12.0
1077466  12  118515520   C   T      24.0         10.0
1079770  12  122881563   C   T      24.0         11.0
1090199  13   21336486   C   T      24.0         12.0
1103304  13   39980168   G   A      25.0         12.0
1213630  15   66365220   G   A      24.0         12.0
1278735  16   81565749   A   G      24.0         11.0
1278739  16   81566448   T   C      24.0         12.0
1278741  16   81566640   G   C      24.0         12.0
1278743  16   81567115   T   G      24.0         12.0
1278745  16   81567245   A   G      24.0         12.0
1278746  16   81567554   A   G      24.0         12.0
1510025   X  100226530   G   A      24.0         12.0
1557723   1  231358301   G   A      24.0         12.0
1557727   1  231360962   T   C      24.0         12.0
1557730   1  231362923   G   A      24.0         12.0
1557731   1  231363983   T   G      24.0         12.0
1557734   1  231367940   G   A      24.0         12.0
1557736   1  231368406   A   G      24.0         12.0
1821182  10   27692561   T   G      24.0         11.0
1821184  10   27693868   C   T      24.0         11.0
1821185  10   27694654   C   T      24.0         11.0
1821187  10   27698535   T   C      24.0         11.0
1821189  10   27700424   T   C      24.0         11.0
1821190  10   27700615   C   T      24.0         11.0
1821192  10   27702624   G   T      24.0         11.0
1821206  10   27807199   G   T      24.0         12.0
1821216  10   27826474   A   G      25.0         12.0
1887048  12  122962286   G   A      25.0         12.0
2151696   6   57396040   A   G      24.0         11.0

## Lets do IN Control Again

In [ ]:
case_merged = None  # To clear Memory
control_merged = None
open_cols = ["Chr", 'Start', 'Ref',"Alt"]
merged_cols = ["Chr", 'Start', 'Ref',"Alt","SNP"]
control_merged = pd.read_csv("1093/1093_snv.csv", low_memory= False,usecols=open_cols, dtype="object")
control_merged.drop_duplicates(subset =  ["Start","Alt"], keep = False, inplace = True)
control_merged["SNP"] = 1
print(control_merged.shape)
control_merged.head()

In [ ]:
for _ in control:
    if _ == "1093":
        print("Done in the begining")
        continue
    print(_)
    df = pd.read_csv(_+"/"+_+"_snv.csv", usecols = open_cols, low_memory=False, dtype="object")
    df.drop_duplicates(subset = ["Start","Alt"], keep = False, inplace = True)
    
    df["SNP_"] = 1
    control_merged = pd.merge(control_merged, df, on= open_cols, how = "outer")
    control_merged.fillna(0, inplace = True)
    
    control_merged["SNP"] = control_merged.SNP + control_merged.SNP_
    #case_merged.drop_duplicates(subset = "Start", keep = False, inplace = True)
    control_merged.drop(["SNP_"], axis = 1, inplace=True)
    del df

In [ ]:
#control_merged.to_csv("30_control_mearged_snv.csv", index=False)

In [ ]:
control_merged.shape

In [ ]:
_ = ['Chr', 'Start', 'Ref', 'Alt', "control_snp"]
control_merged.columns = _
control_merged.head()

In [ ]:
# load Case data
case_merged = pd.read_csv("30_case_mearged.csv", dtype= "object", low_memory= False)
_ = ['Chr', 'Start', 'Ref', 'Alt', "Case_snp"]
case_merged.columns = _
case_merged.head()

In [ ]:
# Merge Case and Control
#pd.merge(case_merged,control_merged , on = open_cols, how = "right").to_csv("Case_Control_60.csv", index = False)

In [ ]:
merged = pd.merge(case_merged,control_merged , on = open_cols, how = "right")

In [ ]:
merged.head()

In [ ]:
#merged[merged.Case_snp >= 25]
merged.dtypes

In [ ]:
merged.Case_snp = merged.Case_snp.astype("float64")

In [ ]:
merged[(merged.Case_snp >= 26) & (merged.control_snp <14)]

In [ ]:
_ = "1119"
df = pd.read_csv(_+"/"+_+"_snv.csv", nrows = 50, usecols = open_cols )
df["SNP"] = 1
case_merged = df.copy()

In [ ]:
case_merged.head()

In [ ]:
_ = "1093"
df_ = pd.read_csv(_+"/"+_+"_snv.csv", nrows = 10, usecols = open_cols )
df_["SNP_"] = 1

In [ ]:
df_.head()

In [ ]:
#case_merged = pd.
case_merged = pd.merge(df, df_, on=open_cols, how="outer")
case_merged.fillna(0, inplace = True)
case_merged["SNP"] =  case_merged.SNP + case_merged.SNP_
case_merged.drop(["SNP_"], axis = 1, inplace = True)
case_merged

In [ ]:
case_merged = pd.merge(df, df_, on=open_cols, how="outer")
case_merged["SNP"] = case_merged["SNP_x"]+ case_merged["SNP_y"]
case_merged.drop(['SNP_x',"SNP_y"], axis = 1, inplace = True)

case_merged = pd.merge(case_merged, df_, on=merged_cols, how="outer")
#case_merged["SNP"] = case_merged["SNP"]+ case_merged["SNP_x"]
#case_merged.drop(['SNP_x',"SNP_y"], axis = 1, inplace = True)
case_merged.head()

### Lets open Indel Files from Intervar and merge as a single Files

In [25]:
import pandas as pd

In [229]:
df = pd.read_csv("1093/1093_snv.csv", low_memory= False)

In [212]:
#df = df[df.Func_refGene.isin(["exonic"])]

In [230]:
df[df.InterVar.isin(["Pathogenic"])]

        Chr      Start        End Ref Alt  Ref_Gene Func_refGene     avsnp147             Clinvar    InterVar    OMIM
191249    1  110149039  110149039   G   A     GNAT2       exonic  rs745308973  Likely_pathogenic   Pathogenic  139340
3561175  11   64361219   64361219   G   A  SLC22A12       exonic  rs121907892         Pathogenic   Pathogenic  607096
3594510  11   85365183   85365183   C   T  TMEM126A       exonic  rs121434508         Pathogenic   Pathogenic  612988

In [219]:
df.Func_refGene.unique()

array(['ncRNA_exonic', 'ncRNA_intronic', 'intergenic', 'exonic',
       'downstream', 'upstream', 'intronic', 'UTR3', 'UTR5',
       'upstream;downstream', 'ncRNA_splicing', 'splicing',
       'exonic;splicing', 'ncRNA_exonic;splicing', 'UTR5;UTR3'],
      dtype=object)

In [218]:
df[df.Clinvar.isin(["Pathogenic "])]

        Chr      Start        End Ref Alt    Ref_Gene    Func_refGene     avsnp147      Clinvar    InterVar    OMIM
320757    1  198867678  198867678   G   T  MIR181A1HG  ncRNA_intronic   rs60639710  Pathogenic       Benign       .
320758    1  198868084  198868084   G   A  MIR181A1HG  ncRNA_intronic   rs10800597  Pathogenic       Benign       .
320759    1  198869514  198869514   T   C  MIR181A1HG  ncRNA_intronic   rs10800598  Pathogenic       Benign       .
1242327   4    6295693    6295693   C   G        WFS1        intronic    rs6446482  Pathogenic       Benign  606201
1630820   4  187158034  187158034   G   A       KLKB1          exonic    rs3733402  Pathogenic       Benign  229000
1921435   5  150227998  150227998   C   T        IRGM          exonic   rs10065172  Pathogenic       Benign  608212
2683581   8   11606312   11606312   T   C       GATA4        intronic    rs3735819  Pathogenic       Benign  600576
3271703  10   54531235   54531235   C   T        MBL2          exonic    rs1800450  Pathogenic       Benign  154545
3530258  11   48145375   48145375   A   C       PTPRJ          exonic    rs1566734  Pathogenic       Benign  600925
3561175  11   64361219   64361219   G   A    SLC22A12          exonic  rs121907892  Pathogenic   Pathogenic  607096
3594510  11   85365183   85365183   C   T    TMEM126A          exonic  rs121434508  Pathogenic   Pathogenic  612988
5434738   X  105278361  105278361   C   A    SERPINA7          exonic    rs1804495  Pathogenic       Benign  314200
5448779   X  119760629  119760629   A   T   C1GALT1C1          exonic   rs17261572  Pathogenic       Benign  300611

In [221]:
df[df["Func_refGene"] == "ncRNA_exonic"]

        Chr      Start        End Ref Alt      Ref_Gene  Func_refGene     avsnp147 Clinvar                InterVar    OMIM
0         1      13868      13868   A   G       DDX11L1  ncRNA_exonic  rs796086906    UNK                   Benign       .
1         1      13868      13868   A   G  LOC102725121  ncRNA_exonic  rs796086906    UNK                   Benign       .
7         1      15820      15820   G   T        WASH7P  ncRNA_exonic    rs2691315    UNK                   Benign       .
150       1     135465     135465   C   T     LOC729737  ncRNA_exonic  rs375289924    UNK                   Benign       .
151       1     135982     135982   A   G     LOC729737  ncRNA_exonic   rs62642131    UNK                   Benign       .
...      ..        ...        ...  ..  ..           ...           ...          ...     ...                     ...     ...
5491749   X  152864826  152864826   G   C  LOC105373383  ncRNA_exonic   rs35908555    UNK                   Benign       .
5491750   X  152865326  152865326   C   T  LOC105373383  ncRNA_exonic   rs11156603    UNK                   Benign       .
5492077   X  153149715  153149715   C   G         LCA10  ncRNA_exonic    rs6643650    UNK                   Benign       .
5493207   M       2354       2354   C   T          RNR2  ncRNA_exonic            .    UNK   Uncertain_significance  180451
5493208   M       2485       2485   C   T          RNR2  ncRNA_exonic            .    UNK   Uncertain_significance  180451

[14349 rows x 11 columns]

In [209]:
#df = df.loc[:,['Chr', 'Start',  'Ref', 'Alt', 'Ref_Gene', 'Func_refGene', 'avsnp147', 'Clinvar', 'InterVar', 'OMIM']]

        Chr      Start        End Ref Alt Ref_Gene Func_refGene     avsnp147  Clinvar InterVar    OMIM
64        1      69511      69511   A   G    OR4F5       exonic    rs2691305     UNK    Benign       .
65        1      69897      69897   T   C    OR4F5       exonic  rs200676709     UNK    Benign       .
627       1     877831     877831   T   C   SAMD11       exonic    rs6672356     UNK    Benign  616765
628       1     879317     879317   C   T   SAMD11       exonic    rs7523549     UNK    Benign  616765
635       1     881627     881627   G   A    NOC2L       exonic    rs2272757     UNK    Benign  610770
...      ..        ...        ...  ..  ..      ...          ...          ...      ...      ...     ...
5492384   X  153695908  153695908   G   T   PLXNA3       exonic   rs60361517     UNK    Benign  300022
5492385   X  153696247  153696247   G   C   PLXNA3       exonic    rs5987266     UNK    Benign  300022
5492508   X  153994596  153994596   G   T     DKC1       exonic    rs2728532  Benign    Benign  300126
5492516   X  154020114  154020114   C   A     MPP1       exonic    rs1126762     UNK    Benign  305360
5492646   X  154456747  154456747   A   G     VBP1       exonic     rs572013     UNK    Benign  300133

[22693 rows x 11 columns]

In [127]:
test = df.head(100).copy()

In [129]:
df[df.InterVar.isin(b)]

        Chr      Start        End Ref Alt  Ref_Gene Func_refGene     avsnp147             Clinvar           InterVar    OMIM
191249    1  110149039  110149039   G   A     GNAT2       exonic  rs745308973  Likely_pathogenic          Pathogenic  139340
3561175  11   64361219   64361219   G   A  SLC22A12       exonic  rs121907892         Pathogenic          Pathogenic  607096
3594510  11   85365183   85365183   C   T  TMEM126A       exonic  rs121434508         Pathogenic          Pathogenic  612988
3731267  12   18865906   18865906   C   A     PLCZ1       exonic            .                UNK   Likely_pathogenic  608075

In [115]:
#df.Func_refGene.value_counts()

intergenic               3894404
intronic                 1265068
ncRNA_intronic            239854
UTR3                       32627
downstream                 24154
exonic                     22875
upstream                   22728
ncRNA_exonic               14590
UTR5                        5869
upstream;downstream         1703
splicing                      97
ncRNA_splicing                84
UTR5;UTR3                     32
exonic;splicing               18
ncRNA_exonic;splicing         12
Name: Func_refGene, dtype: int64

###### Intergenic Genes --> are junk dna and non coding regions.

In [65]:
preterm_genes = ["WNT4", "EFB1", "TEKT3", "TGFB1", "AGTR2"]

In [107]:
#df[df.Ref_Gene.isin(preterm_genes)]
a = ["UNK ", "Benign","Uncertain_significance"]
b= ["Likely_pathogenic", "Pathogenic"]

In [148]:
df[(df.InterVar.isin(b))]# & (df.InterVar.isin(preterm_genes))]

        Chr      Start        End Ref Alt  Ref_Gene Func_refGene     avsnp147             Clinvar           InterVar    OMIM
191249    1  110149039  110149039   G   A     GNAT2       exonic  rs745308973  Likely_pathogenic          Pathogenic  139340
3561175  11   64361219   64361219   G   A  SLC22A12       exonic  rs121907892         Pathogenic          Pathogenic  607096
3594510  11   85365183   85365183   C   T  TMEM126A       exonic  rs121434508         Pathogenic          Pathogenic  612988
3731267  12   18865906   18865906   C   A     PLCZ1       exonic            .                UNK   Likely_pathogenic  608075

In [226]:
df = df[df.Func_refGene == "exonic"]

In [227]:
df

Empty DataFrame
Columns: [Chr, Start, End, Ref, Alt, Ref_Gene, Func_refGene, avsnp147, Clinvar, InterVar, OMIM]
Index: []

In [160]:
#df.Ref_Gene.value_counts()
import seaborn as sns
#sns.distplot(df.Ref_Gene)

In [176]:
## For distribution Plot We lets import original vcf with Frequency
#df = pd.read_csv("../old/910.PASS.vcf", skiprows=81, nrows=100, sep = "\t")

In [181]:
#df['default'] = df.default.apply(lambda x : x.split(",")[1])

In [182]:
#df.head()

In [183]:
## Distribution Plot
#sns.distplot(df.default)

### From Intervar we want Only before  PVS1

In [231]:
df_ = pd.read_csv("Merged_vcf/Final_mergedf_case_con_vcf_og_pass.csv")

C:\Users\krish\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [232]:
df_.head()

  CHROM    POS REF ALT        Repeated_Case  MAX_Case     Repeated_Control  MAX_Control
0  chr1  10146  AC   A  Counter({'0/1': 1})       1.0                  NaN          NaN
1  chr1  10427   A  AC  Counter({'0/1': 1})       1.0  Counter({'0/1': 1})          1.0
2  chr1  10439  AC   A  Counter({'0/1': 1})       1.0  Counter({'0/1': 1})          1.0
3  chr1  10492   C   T  Counter({'0/1': 2})       2.0  Counter({'0/1': 2})          2.0
4  chr1  10583   G   A  Counter({'0/1': 1})       1.0  Counter({'0/1': 1})          1.0

In [259]:
df_[(df_["MAX_Case"]>20) & (df_["MAX_Control"]<10)].shape

(490, 8)

In [260]:
df_[(df_["MAX_Case"]<10) & (df_["MAX_Control"]>20)].shape

(487, 8)