# This program will write final analysed file and merge all 10 files

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_files=os.listdir("../snp_analysis")
data_files[-1],len(data_files)

('1282_case.csv', 21)

In [15]:
case =[]
control =[]
#before running loop check the files and folders
for i in data_files:
    if i[-5]=="e":
        case.append(i)
    elif i[-5]=="l":
        control.append(i)

In [ ]:
#We know that there are 20 Files 
# For loop for all data sets

In [17]:
len(control) #We can see control size is 11 so there is a folder
control

['1134_control.csv',
 '1293_control.csv',
 '1389_control.csv',
 '1428_control.csv',
 '1477_control.csv',
 '1481_control.csv',
 '1557_control.csv',
 '1591_control.csv',
 '1093_control.csv',
 '1316_control.csv']

# One File of All case SNP

In [11]:
df1 = pd.read_csv("../snp_analysis/"+case[0])
for data in case:
    print("Reading .."+data, end = "-->")
    if data == case[0]:
        pass
    df = pd.read_csv("../snp_analysis/"+data)
    df1 = df1.merge(df,how = "outer")
    df1 = df1.sort_values(by="POS")
df1.drop_duplicates()
df1.to_csv("../snp_analysis/merged_files/case_snp.csv",index=False,encoding='utf-8',header=True)
print("All Task Done")
    
#Remove duplicates rows later

Reading ..873_case.csv-->Reading ..875_case.csv-->Reading ..880_case.csv-->Reading ..910_case.csv-->Reading ..1489_case.csv-->Reading ..1584_case.csv-->Reading ..1009_case.csv-->Reading ..989_case.csv-->Reading ..1119_case.csv-->Reading ..1282_case.csv-->All Task Done

# One Files of all Control

In [18]:
df1 = pd.read_csv("../snp_analysis/"+control[0])
for data in control:
    if data[-3:] != "csv":
        print(data+"skipped")
        pass
    print("Reading .."+data, end = "-->")
    if data == control[0]:
        pass
    df = pd.read_csv("../snp_analysis/"+data)
    df1 = df1.merge(df,how = "outer")
    df1 = df1.sort_values(by="POS")
df1.to_csv("../snp_analysis/merged_files/control_snp.csv",index=False,encoding='utf-8',header=True)
print("All Task Done")

Reading ..1134_control.csv-->Reading ..1293_control.csv-->Reading ..1389_control.csv-->Reading ..1428_control.csv-->Reading ..1477_control.csv-->Reading ..1481_control.csv-->Reading ..1557_control.csv-->Reading ..1591_control.csv-->Reading ..1093_control.csv-->Reading ..1316_control.csv-->All Task Done

# One Files of Case_Control

In [4]:
df_case = pd.read_csv("../snp_analysis/merged_files/case_snp.csv")
df_control = pd.read_csv("../snp_analysis/merged_files/control_snp.csv")
df_all = df_case.merge(df_control,how = "outer")
df_all.to_csv("../snp_analysis/merged_files/case_control.csv",index=False,encoding='utf-8',header=True)

In [6]:
#df1 = pd.read_csv("../snp_analysis/873_case.csv")

In [8]:
#df2 = pd.read_csv("../snp_analysis/880_case.csv")

In [9]:
#df1.shape,df2.shape

In [18]:
#df1 = df1.head(100)
#df2 = df2.head(100)

In [10]:
#df1.head(10)

In [11]:
#df2.head(10)

In [22]:
#df_new = df1.merge(df2,how = "outer")

In [12]:
#df_new.sort_values(by="POS")

In [1]:
import pandas as pd

In [2]:
#df1 = pd.read_csv("../snp_analysis/873_case.csv")

In [6]:
#df1 = df1.head(500)

In [30]:
#df2 = pd.read_csv("../snp_analysis/1134_control.csv")

In [32]:
#df2 = df2.head(500)
df1 = df2 =0

In [3]:
case = pd.read_csv("../snp_analysis/merged_files/case_snp.csv")

In [21]:
#case = case.head(1000)

In [4]:
control = pd.read_csv("../snp_analysis/merged_files/control_snp.csv")

In [35]:
#combined = pd.read_csv("../snp_analysis/merged_files/case_control.csv")

/home/albatross/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#combined.shape

In [18]:
#control.head(15)

# case.shape

In [5]:
case.shape,control.shape

((9250790, 14), (9258971, 14))

In [6]:
case.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'GEN_873_case.csv', 'GEN_875_case.csv',
       'GEN_880_case.csv', 'GEN_910_case.csv', 'GEN_1489_case.csv',
       'GEN_1584_case.csv', 'GEN_1009_case.csv', 'GEN_989_case.csv',
       'GEN_1119_case.csv', 'GEN_1282_case.csv'],
      dtype='object')

In [7]:
case[case["POS"]==157895049]

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,GEN_989_case.csv,GEN_1119_case.csv,GEN_1282_case.csv
8296178,chr5,157895049,rs2963463,T,T/C,T/C,T/C,T/C,NaN,T/C,T/C,T/C,NaN,T/C

In [8]:
control[control["ID"]== "rs2963463"]

,#CHROM,POS,ID,REF,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
8303226,chr5,157895049,rs2963463,T,C/C,C/C,C/C,T/C,T/C,C/C,T/C,C/C,C/C,T/C

In [13]:
case.head(15)

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,GEN_989_case.csv,GEN_1119_case.csv,GEN_1282_case.csv
0,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
1,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN,NaN
2,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
3,chrM,199,.,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,NaN,NaN,NaN
4,chrM,200,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
5,chrM,214,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G
6,chrM,235,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
7,chrM,247,.,GA,NaN,G/G,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,chrM,257,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
10,chrM,302,.,A,A/AC,NaN,NaN,NaN,NaN,NaN,NaN,A/AC,NaN,NaN
11,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
12,chrM,317,.,C,NaN,NaN,NaN,NaN,C/CGGGGG,NaN,NaN,NaN,NaN,NaN
13,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
14,chrM,491,.,T,NaN,NaN,NaN,NaN,C/C,C/C,C/C,NaN,NaN,NaN

In [12]:
control.head(15)

,#CHROM,POS,ID,REF,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
0,chrM,146,.,T,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G
5,chrM,195,.,C,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
6,chrM,199,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN
7,chrM,200,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,chrM,247,.,GA,NaN,NaN,NaN,G/G,NaN,NaN,G/G,NaN,NaN,NaN
9,chrM,263,.,G,NaN,NaN,NaN,A/A,NaN,NaN,NaN,NaN,NaN,NaN
10,chrM,302,.,AC,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
11,chrM,302,.,A,NaN,A/AC,A/AC,A/AC,NaN,NaN,"AC,ACC/AC,ACC",NaN,NaN,NaN
12,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
13,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
14,chrM,491,.,T,NaN,NaN,C/C,NaN,C/C,C/C,NaN,NaN,C/C,NaN